.top {
    display: flex;
    flex-direction : row;
    justify-content: space-around;
}
.sidemenu {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}