.introTop{
    display: flex;
    flex-direction: row;
}

.introTop img{
    width : 50%;
    margin-right: 2%;
}

.introText h1{
    display: block;
    text-align: center;
}
.introText p{
    font-size: 18px;
    padding: 10px;
}
